<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
            <mat-error *ngIf="appointmentForm.get('title')?.hasError('required')">
                Title is required.
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Appointment date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="appointmentForm.get('date')?.hasError('required')">
                Appointment date is required.
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Appointment time</mat-label>
            <input matInput type="time" formControlName="time" required>
            <mat-error *ngIf="appointmentForm.get('time')?.hasError('required')">
                Appointment time is required.
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Duration (Hours)</mat-label>
            <input matInput type="number" formControlName="durationHours" required>
            <mat-error *ngIf="appointmentForm.get('durationHours')?.hasError('required')">
                Duration in hours is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
