
<div class="container">
    <div style="width:60%">
        <p>Date is: {{date | date}}</p>
        <b>* Drag and drop slowly to move appointment</b>
        <br />
        <b>* Click on each appointment to see details</b>
        <br />

        <div class="calendar-container">
            <div class="time-column">
                <div *ngFor="let hour of [].constructor(24); let i = index" class="time-slot">
                    {{ i }} :00
                </div>
            </div>
            <div class="events-column" cdkDropList (cdkDropListDropped)="drop($event)">
                @for(appointment of events24; track appointment){
                <div *ngIf="appointment.active" cdkDrag class="event" (click)="selectEvent(appointment)"
                     [style.top]="appointment.start * 30 + 'px'"
                     [style.height]="(appointment.end - appointment.start) * 30 + 'px'">
                    {{ appointment.title }}
                    <mat-icon>menu</mat-icon>
                </div>
                <div *ngIf="!appointment.active" cdkDrag [style.top]="appointment.start * 30 + 'px'"
                     [style.height]="(appointment.end - appointment.start) * 30 + 'px'">
                </div>
                }

            </div>
        </div>
    </div>
  
    <div style="width:40%">
        <app-view-details [model]="selectedEvent"></app-view-details>
    </div>

</div>
