.mb {
  margin-bottom: 17px
}

h2 {
  width: 12rem;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  white-space: normal;
  justify-content: space-between;
}

.color-green{
    color:limegreen;
}
