<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
    <mat-sidenav mode="side" opened class="sidebar">
        <mat-toolbar>Calendar App</mat-toolbar>
        <mat-list style="padding-bottom:1rem">

            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected" (selectedChange)="onSelectedChange($event)"></mat-calendar>
            </mat-card>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="side-nav">
            <div class="button-container">
                <button mat-fab extended (click)="onClick()">
                    <mat-icon>fact_check</mat-icon>
                    Appointments
                </button>
            </div>
            <div class="button-container">
                <button mat-fab extended (click)="onClick2()">
                    <mat-icon>calendar_month</mat-icon>
                    Calendar
                </button>
            </div>
        </mat-toolbar>

        <div class="content">
            <router-outlet></router-outlet>
            <!-- Main Content Here -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
